body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333333;
  }
  
  .audio-trimmer {
    text-align: center;
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.521);
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
    
  }
  
  h1 {
    margin-bottom: 20px;
    
  }
  
  .upload-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="file"] {
    
    display: block;
    margin: 0 auto 20px;
  }
  
  .controls {
    display: flex; /* Applying display flex here */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px; /* Moved from .time-inputs */
  }
  
  .time-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  label {
    margin-right: 5px;
  }
  
  input[type="number"] {
    width: 70px;
    text-align: center;
    background-color: #444;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #2e2e2e;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1d1d1d;
  }
  
  .audio-player {
    margin-bottom: 20px;
  }
